.form-bg {
  width: 100%;
  height: 900px;
  background: rgba(196, 201, 208, 0.7);
  position: absolute;
}
.form-content {
  padding: 35px;
}
.form-container {
  max-width: 608px;
  width: 100%;

  background: #ffffff;
  box-shadow: 0px 24px 44px rgba(3, 23, 111, 0.05);
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
}
.form-header {
  font-family: "system-ui";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-feature-settings: "salt" on, "liga" off;
  color: #101729;
  display: block;
  margin-top: 15px;
  padding-top: 20px;
}
.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.form-input {
  box-sizing: border-box;
  width: 272px;
  height: 56px;
  background: #f2f5f9;

  border: 1px solid #e3e8ef;
  border-radius: 6px;
  cursor: pointer;
}
.form-inputLabel {
  font-family: "system-ui";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  display: flex;
  flex-direction: column;
  color: #101729;
}
.form-submit {
  box-sizing: border-box;
  width: 350px;
  height: 56px;
  background: linear-gradient(93.05deg, #ea764b -4.15%, #fe9a74 102.44%);
  margin-top: 45px;
  cursor: pointer;

  border: 1px solid #e3e8ef;
  border-radius: 6px;
  font-family: "system-ui";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #e3e8ef;
}
.form-submitDisabled {
  box-sizing: border-box;
  width: 350px;
  height: 56px;
  background: linear-gradient(93.05deg, #626060 -4.15%, #e1e0e0 102.44%);
  margin-top: 45px;
  cursor: pointer;

  border: 1px solid #e3e8ef;
  border-radius: 6px;
  font-family: "system-ui";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "salt" on, "liga" off;
  color: #e3e8ef;
}
